@font-face {
  font-family: "BCSans-Bold";
  src: local("BCSans-Bold"), url(./fonts/BCSans-Bold.woff) format("woff");
}

@font-face {
  font-family: "BCSans-BoldItalic";
  src: local("BCSans-BoldItalic"),
    url(./fonts/BCSans-BoldItalic.woff) format("woff");
}

@font-face {
  font-family: "BCSans-Italic";
  src: local("BCSans-Italic"), url(./fonts/BCSans-Italic.woff) format("woff");
}

@font-face {
  font-family: "BCSans-Regular";
  src: local("BCSans-Regular"), url(./fonts/BCSans-Regular.woff) format("woff");
}

body {
  font-family: BCSans-Regular;
}

.App {
  padding: 0;
}

.nav-bg {
  /*background-color: rgb(53, 89, 146);*/
}

.Header {
  /*border-bottom: 2px solid #fcba19;*/
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0;
  background-color: #fff !important;
}

.navbar-brand {
  color: rgb(53, 89, 146);
}

.logo {
  height: 80px;
}

.Sidebar {
  width: 120px;
  margin: 5px;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  align-items: start;
  font-size: 18px;
  margin-right: 20px;
}

.Sidebar .nav-item {
  width: 100%;
}

.Sidebar a {
  color: #444;
}

.Sidebar a:hover {
  background-color: #eee;
}

.Sidebar a:visited {
  color: #444;
}

.Sidebar .nav-item .active {
  background-color: #def;
}

.InputField {
  margin-top: 15px;
  margin-bottom: 15px;
}

th {
  font-size: 18px;
}

.centerTd {
  text-align: center;
}

.noBorder {
  border: none;
}

table thead {
  background-color: #adcae2;
  background-color: #38598a;
  color: white;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #f0f3f6;
  color: var(--bs-table-striped-color);
}

.roll-up-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1em;
}

.roll-up-container .flex-item {
  /*width: calc(50% - 2em);*/
  align-self: stretch;
  flex: 1 1 auto;
}

.roll-up-container-3-table .flex-item:last-child {
  width: 100%;
}

.secondary-nav {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  font-size: 1.2em;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.secondary-nav li {
  padding-right: 20px;
  text-decoration: none;
}

.secondary-nav li a {
  padding-bottom: 20px;
}

.secondary-nav li .active {
  text-decoration: underline 2px #38598a;
  text-underline-offset: 0.8em;
  font-weight: bold;
}

.table-outer-bordered {
  border: 1px solid #dee2e6;
}

.badge-primary {
  background-color: #38598a;
  font: #ffffff;
  font-size: 1em;
}

.card-header {
  background-color: #f0f3f6;
  background-color: #38598a;
  color: #ffffff;
}

.card-body {
  background-color: #f0f3f6;
}
.history-list li a {
  color: #38598a;
  font-size: 1.2em;
}

#basic-navbar-nav .flex-row {
  gap: 1em;
}
