@font-face {
  font-family: 'BCSans-Bold';
  src: local('BCSans-Bold'), url(./fonts/BCSans-Bold.woff) format('woff');
}

@font-face {
  font-family: 'BCSans-BoldItalic';
  src: local('BCSans-BoldItalic'), url(./fonts/BCSans-BoldItalic.woff) format('woff');
}

@font-face {
  font-family: 'BCSans-Italic';
  src: local('BCSans-Italic'), url(./fonts/BCSans-Italic.woff) format('woff');
}

@font-face {
  font-family: 'BCSans-Regular';
  src: local('BCSans-Regular'), url(./fonts/BCSans-Regular.woff) format('woff');
}

body {
  font-family: BCSans-Regular;
}

.App {
  padding: 0;
}

.nav-bg {
  background-color: rgb(53, 89, 146);
}

.Header {
  border-bottom: 2px solid #fcba19;
}

.logo {
  height: 80px;
}

.Sidebar {
  width: 120px;
  margin: 5px;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  align-items: start;
  font-size: 18px;
  margin-right: 20px;
}

.Sidebar .nav-item {
  width: 100%;
}

.Sidebar a {
  color: #444;
}

.Sidebar a:hover {
  background-color: #eee;
}

.Sidebar a:visited {
  color: #444;
}

.Sidebar .nav-item .active {
  background-color: #def;
}

.InputField {
  margin-top: 15px;
  margin-bottom: 15px;
}

th {
  font-size: 18px;
}

.centerTd {
  text-align: center;
}

.noBorder {
  border: none;
}